In [1]:
import pandas as pd
import json
import re
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import cross_val_score
import pickle
import ast

from flask import jsonify,make_response
from flask import jsonify
import json 

from flask import Flask

# Disable warnings, set Matplotlib inline plotting and load Pandas package
import warnings
warnings.filterwarnings('ignore')

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession


spark = SparkSession\
        .builder\
        .appName("Category_Classification_PySpark")\
        .config('spark.sql.warehouse.dir','file:///home/sudipto21048867/Pyspark/spark-warehouse')\
        .getOrCreate()

In [3]:
jsonDF = spark.read.json("/user/sudipto21048867/Llyods_data/BASE_Data/TransformedSummary.json" )

In [4]:
from pyspark.sql.types import FloatType
from pyspark.sql.types import StringType
from pyspark.sql.functions import UserDefinedFunction as udf

In [5]:
jsonDF.printSchema()

root
 |-- Apr-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Aug-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Dec-16: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Dec-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Feb-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Jan-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Jul-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Jun-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Mar-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- May-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Nov-16: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Nov-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Oct-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)
 |-- Sep-17: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AccountId: long (nullable = true)
 |    |    |-- Amount: string (nullable = true)
 |    |    |-- BankTransactionCode: string (nullable = true)
 |    |    |-- BookingDateTime: string (nullable = true)
 |    |    |-- CreditDebitIndicator: string (nullable = true)
 |    |    |-- Status: string (nullable = true)
 |    |    |-- TransactionId: long (nullable = true)
 |    |    |-- TransactionInformation: string (nullable = true)
 |    |    |-- ValueDateTime: string (nullable = true)

In [6]:
jsonObject = jsonDF.rdd.flatMap(lambda row: row[0])

In [7]:
jsonObject.first()

Row(AccountId=32353522, Amount=u'{"Amount": "6.88", "Currency": "GBP"}', BankTransactionCode=u'{"Code":  "POS"," SubCode": }', BookingDateTime=u'2017-04-03T20:21:50-08:00', CreditDebitIndicator=u'Debit', Status=u'Booked', TransactionId=100801, TransactionInformation=u'1177 31MAR17 D , UBER BV , HELP.UBER.COM NL', ValueDateTime=u'2017-04-03T20:21:50-08:00')

In [8]:
TransactionDf = jsonObject.toDF()

In [9]:
TransactionDf.show(5)

+---------+--------------------+--------------------+--------------------+--------------------+------+-------------+----------------------+--------------------+
|AccountId|              Amount| BankTransactionCode|     BookingDateTime|CreditDebitIndicator|Status|TransactionId|TransactionInformation|       ValueDateTime|
+---------+--------------------+--------------------+--------------------+--------------------+------+-------------+----------------------+--------------------+
| 32353522|{"Amount": "6.88"...|{"Code":  "POS","...|2017-04-03T20:21:...|               Debit|Booked|       100801|  1177 31MAR17 D , ...|2017-04-03T20:21:...|
| 32353524|{"Amount": "36.53...|{"Code":  "POS","...|2017-04-03T20:21:...|               Debit|Booked|       100802|  3818 31MAR17 , AS...|2017-04-03T20:21:...|
| 32353526|{"Amount": "4.84"...|{"Code":  "POS","...|2017-04-03T20:21:...|               Debit|Booked|       100803|  3818 31MAR17 C , ...|2017-04-03T20:21:...|
| 32353528|{"Amount": "250",...|{"Code":  "BAC","...|2017-04-05T20:21:...|              Credit|Booked|       100804|  ANIRUDH KUMAR VYA...|2017-04-05T20:21:...|
| 32353530|{"Amount": "14", ...|{"Code":  "POS","...|2017-04-05T20:21:...|              Credit|Booked|       100805|  3818 04APR17 , AS...|2017-04-05T20:21:...|
+---------+--------------------+--------------------+--------------------+--------------------+------+-------------+----------------------+--------------------+
only showing top 5 rows

In [9]:
with open('TransformedSummary.json') as f:
        data = json.load(f)
        TransactionDf = [item for items in data.values() for item in items]
        TransactionDf=pd.DataFrame(TransactionDf)

In [10]:
#TransactionDf.head()

In [11]:
#print(data)

In [12]:
#print(data.values()[1])

In [14]:
TransactionDf.show()

+---------+--------------------+--------------------+--------------------+--------------------+------+-------------+----------------------+--------------------+
|AccountId|              Amount| BankTransactionCode|     BookingDateTime|CreditDebitIndicator|Status|TransactionId|TransactionInformation|       ValueDateTime|
+---------+--------------------+--------------------+--------------------+--------------------+------+-------------+----------------------+--------------------+
| 32353522|{"Amount": "6.88"...|{"Code":  "POS","...|2017-04-03T20:21:...|               Debit|Booked|       100801|  1177 31MAR17 D , ...|2017-04-03T20:21:...|
| 32353524|{"Amount": "36.53...|{"Code":  "POS","...|2017-04-03T20:21:...|               Debit|Booked|       100802|  3818 31MAR17 , AS...|2017-04-03T20:21:...|
| 32353526|{"Amount": "4.84"...|{"Code":  "POS","...|2017-04-03T20:21:...|               Debit|Booked|       100803|  3818 31MAR17 C , ...|2017-04-03T20:21:...|
| 32353528|{"Amount": "250",...|{"Code":  "BAC","...|2017-04-05T20:21:...|              Credit|Booked|       100804|  ANIRUDH KUMAR VYA...|2017-04-05T20:21:...|
| 32353530|{"Amount": "14", ...|{"Code":  "POS","...|2017-04-05T20:21:...|              Credit|Booked|       100805|  3818 04APR17 , AS...|2017-04-05T20:21:...|
| 32353532|{"Amount": "5.94"...|{"Code":  "POS","...|2017-04-05T20:21:...|               Debit|Booked|       100806|  3818 04APR17 C , ...|2017-04-05T20:21:...|
| 32353534|{"Amount": "0.76"...|{"Code":  "POS","...|2017-04-05T20:21:...|               Debit|Booked|       100807|  3818 04APR17 C , ...|2017-04-05T20:21:...|
| 32353536|{"Amount": "13.44...|{"Code":  "POS","...|2017-04-06T20:21:...|               Debit|Booked|       100808|  1177 05APR17 D , ...|2017-04-06T20:21:...|
| 32353538|{"Amount": "2.58"...|{"Code":  "POS","...|2017-04-10T20:21:...|               Debit|Booked|       100809|  1177 08APR17 CD ,...|2017-04-10T20:21:...|
| 32353540|{"Amount": "15", ...|{"Code":  "POS","...|2017-04-10T20:21:...|               Debit|Booked|       100810|  3818 08APR17 , PA...|2017-04-10T20:21:...|
| 32353542|{"Amount": "29.47...|{"Code":  "POS","...|2017-04-12T20:21:...|               Debit|Booked|       100811|  3818 11APR17 , WW...|2017-04-12T20:21:...|
| 32353544|{"Amount": "35.75...|{"Code":  "POS","...|2017-04-13T20:21:...|               Debit|Booked|       100812|  3818 11APR17 , PA...|2017-04-13T20:21:...|
| 32353546|{"Amount": "4", "...|{"Code":  "POS","...|2017-04-18T20:21:...|              Credit|Booked|       100813|  1177 14APR17 CD ,...|2017-04-18T20:21:...|
| 32353548|{"Amount": "24.5"...|{"Code":  "POS","...|2017-04-18T20:21:...|               Debit|Booked|       100814|  1177 13APR17 CD ,...|2017-04-18T20:21:...|
| 32353550|{"Amount": "3", "...|{"Code":  "POS","...|2017-04-18T20:21:...|               Debit|Booked|       100815|  1177 14APR17 CD ,...|2017-04-18T20:21:...|
| 32353552|{"Amount": "3", "...|{"Code":  "POS","...|2017-04-18T20:21:...|               Debit|Booked|       100816|  1177 14APR17 CD ,...|2017-04-18T20:21:...|
| 32353554|{"Amount": "1.75"...|{"Code":  "POS","...|2017-04-18T20:21:...|               Debit|Booked|       100817|  1177 16APR17 CD ,...|2017-04-18T20:21:...|
| 32353556|{"Amount": "0.76"...|{"Code":  "POS","...|2017-04-18T20:21:...|               Debit|Booked|       100818|  1177 16APR17 CD ,...|2017-04-18T20:21:...|
| 32353558|{"Amount": "0.6",...|{"Code":  "POS","...|2017-04-18T20:21:...|               Debit|Booked|       100819|  1177 16APR17 CD ,...|2017-04-18T20:21:...|
| 32353560|{"Amount": "3", "...|{"Code":  "POS","...|2017-04-18T20:21:...|               Debit|Booked|       100820|  1177 14APR17 CD ,...|2017-04-18T20:21:...|
+---------+--------------------+--------------------+--------------------+--------------------+------+-------------+----------------------+--------------------+
only showing top 20 rows

In [7]:
TransactionDf['AmountInGBP']=TransactionDf['Amount'].map(lambda x :ast.literal_eval(x)['Amount']).astype(np.float)
TransactionDf['Type']=TransactionDf['BankTransactionCode'].map(lambda x :ast.literal_eval(x[:-1]+"\"\""+'}')['Code'])

In [8]:
TransactionDf.head()

,AccountId,Amount,BankTransactionCode,BookingDateTime,CreditDebitIndicator,Status,TransactionId,TransactionInformation,ValueDateTime,AmountInGBP,Type
0,32353522,"{""Amount"": ""100"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-18T20:21:50-08:00,Credit,Booked,100211,"CALL REF.NO. 0000 , FROM A/C 10111778",2016-11-18T20:21:50-08:00,100.00,OTR
1,32353524,"{""Amount"": ""50"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-18T20:21:50-08:00,Debit,Booked,100212,"3818 17NOV16 , DEBENHAMS , CROYDON GB",2016-11-18T20:21:50-08:00,50.00,POS
2,32353526,"{""Amount"": ""2"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-23T20:21:50-08:00,Debit,Booked,100213,"3818 22NOV16 C , COOP GROUP FOOD , CROYDON GB",2016-11-23T20:21:50-08:00,2.00,POS
3,32353528,"{""Amount"": ""2.4"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-23T20:21:50-08:00,Debit,Booked,100214,"3818 22NOV16 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB",2016-11-23T20:21:50-08:00,2.40,POS
4,32353530,"{""Amount"": ""4.99"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-24T20:21:50-08:00,Credit,Booked,100215,"3818 23NOV16 , LIDL UK , LONDON GB , REFUND",2016-11-24T20:21:50-08:00,4.99,POS

In [9]:
TransactionDf.columns

Index(['AccountId', 'Amount', 'BankTransactionCode', 'BookingDateTime',
       'CreditDebitIndicator', 'Status', 'TransactionId',
       'TransactionInformation', 'ValueDateTime', 'AmountInGBP', 'Type'],
      dtype='object')

In [10]:
def BinningData(TransactionDf, bins):
            min_val = min((TransactionDf['AmountInGBP'])-1)
            max_val = max(TransactionDf['AmountInGBP'])
            #print(min_val, max_val)
            custom_bucket_array = np.linspace(min_val, max_val, bins)
            cut_points = list(custom_bucket_array)
            group_name = ["low","medium","high"]
            TransactionDf["AmountInGBP_bin"] = pd.cut(TransactionDf["AmountInGBP"], cut_points, labels=group_name)
            return TransactionDf

In [11]:
 BinningData(TransactionDf, 4)

,AccountId,Amount,BankTransactionCode,BookingDateTime,CreditDebitIndicator,Status,TransactionId,TransactionInformation,ValueDateTime,AmountInGBP,Type,AmountInGBP_bin
0,32353522,"{""Amount"": ""100"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-18T20:21:50-08:00,Credit,Booked,100211,"CALL REF.NO. 0000 , FROM A/C 10111778",2016-11-18T20:21:50-08:00,100.00,OTR,low
1,32353524,"{""Amount"": ""50"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-18T20:21:50-08:00,Debit,Booked,100212,"3818 17NOV16 , DEBENHAMS , CROYDON GB",2016-11-18T20:21:50-08:00,50.00,POS,low
2,32353526,"{""Amount"": ""2"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-23T20:21:50-08:00,Debit,Booked,100213,"3818 22NOV16 C , COOP GROUP FOOD , CROYDON GB",2016-11-23T20:21:50-08:00,2.00,POS,low
3,32353528,"{""Amount"": ""2.4"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-23T20:21:50-08:00,Debit,Booked,100214,"3818 22NOV16 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB",2016-11-23T20:21:50-08:00,2.40,POS,low
4,32353530,"{""Amount"": ""4.99"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-24T20:21:50-08:00,Credit,Booked,100215,"3818 23NOV16 , LIDL UK , LONDON GB , REFUND",2016-11-24T20:21:50-08:00,4.99,POS,low
5,32353532,"{""Amount"": ""7.66"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-24T20:21:50-08:00,Debit,Booked,100216,"3818 23NOV16 C , LIDL UK , LONDON GB",2016-11-24T20:21:50-08:00,7.66,POS,low
6,32353534,"{""Amount"": ""100"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-25T20:21:50-08:00,Credit,Booked,100217,"CALL REF.NO. 0000 , FROM A/C 10111778",2016-11-25T20:21:50-08:00,100.00,OTR,low
7,32353536,"{""Amount"": ""1"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-25T20:21:50-08:00,Debit,Booked,100218,"3818 24NOV16 C , POUNDWORLD RETAIL , CROYDON GB",2016-11-25T20:21:50-08:00,1.00,POS,low
8,32353538,"{""Amount"": ""300"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-28T20:21:50-08:00,Credit,Booked,100219,"CALL REF.NO. 0000 , FROM A/C 10111778",2016-11-28T20:21:50-08:00,300.00,OTR,low
9,32353540,"{""Amount"": ""7.99"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-28T20:21:50-08:00,Debit,Booked,100220,"3818 26NOV16 , ARGOS LTD , CROYDON GB",2016-11-28T20:21:50-08:00,7.99,POS,low
10,32353542,"{""Amount"": ""3.99"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-28T20:21:50-08:00,Debit,Booked,100221,"3818 26NOV16 , ARGOS RETAIL GROUP, INTERNET GB",2016-11-28T20:21:50-08:00,3.99,POS,low
11,32353544,"{""Amount"": ""43.99"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-28T20:21:50-08:00,Debit,Booked,100222,"3818 25NOV16 , TESCO DIRECT , CHESHUNT GB",2016-11-28T20:21:50-08:00,43.99,POS,low
12,32353546,"{""Amount"": ""139.9"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2016-11-29T20:21:50-08:00,Credit,Booked,100223,"/RFB/GMCI STATMT , PCM55CI72578736 , HENNER GMC",2016-11-29T20:21:50-08:00,139.90,CHP,low
13,32353522,"{""Amount"": ""500"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-29T20:21:50-08:00,Credit,Booked,100224,"SRIVASTAVA S , SUDHANSHUANIRUDH",2016-11-29T20:21:50-08:00,500.00,OTR,low
14,32353524,"{""Amount"": ""500"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-29T20:21:50-08:00,Debit,Booked,100225,"CALL REF.NO. 0030 , SUDHANSHUSRIVASTAV",2016-11-29T20:21:50-08:00,500.00,OTR,low
15,32353526,"{""Amount"": ""388.5"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-29T20:21:50-08:00,Debit,Booked,100226,"3818 28NOV16 , VISION EXPRESS , CROYDON 0067 GB",2016-11-29T20:21:50-08:00,388.50,POS,low
16,32353528,"{""Amount"": ""25.2"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-30T20:21:50-08:00,Debit,Booked,100227,"3818 29NOV16 C , BOOTS 0866 , CROYDON GB",2016-11-30T20:21:50-08:00,25.20,POS,low
17,32353522,"{""Amount"": ""7.8"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-12-01T20:21:50-08:00,Debit,Booked,100311,"3818 30NOV16 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB",2016-12-01T20:21:50-08:00,7.80,POS,low
18,32353524,"{""Amount"": ""2300"", ""Currency"": ""GBP""}","{""Code"": ""BAC"","" SubCode"": }",2016-12-02T20:21:50-08:00,Credit,Booked,100312,"ANIRUDH KUMAR VYAS, TRANSFERTOMYNATWES, FP 02/...",2016-12-02T20:21:50-08:00,2300.00,BAC,high
19,32353526,"{""Amount"": ""20"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-12-02T20:21:50-08:00,Debit,Booked,100313,"KANWALJIT . , FOODANDPARTYEXP , VIA MOBILE PYC",2016-12-02T20:21:50-08:00,20.00,OTR,low
20,32353528,"{""Amount"": ""0.84"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-12-02T20:21:50-08:00,Debit,Booked,100314,"3818 01DEC16 C , TESCO STORES 6765 , CROYDON GB",2016-12-02T20:21:50-08:00,0.84,POS,low
21,32353530,"{""Amount"": ""388.5"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2016-12-05T20:21:50-08:00,Credit,Booked,100315,"/RFB/GMCI STATMT , PCM55CI72684987 , HENNER GMC",2016-12-05T20:21:50-08:00,388.50,CHP,low
22,32353532,"{""Amount"": ""2200"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-12-05T20:21:50-08:00,Debit,Booked,100316,"3818 02DEC16 , ACORN , LONDON GB",2016-12-05T20:21:50-08:00,2200.00,POS,high
23,32353534,"{""Amount"": ""2.79"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-12-05T20:21:50-08:00,Debit,Booked,100317,"3818 03DEC16 C , BOOTS 0866 , CROYDON GB",2016-12-05T20:21:50-08:00,2.79,POS,low
24,32353536,"{""Amount"": ""1"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-12-05T20:21:50-08:00,Debit,Booked,100318,"3818 03DEC16 C , SAINSBURYS S/MKTS , CROYDON GB",2016-12-05T20:21:50-08:00,1.00,POS,low
25,32353538,"{""Amount"": ""1"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-12-05T20:21:50-08:00,Debit,Booked,100319,"3818 03DEC16 C , POUNDWORLD RETAIL , CROYDON GB",2016-12-05T20:21:50-08:00,1.00,POS,low
26,32353540,"{""Amount"": ""10.7"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-12-05T20:21:50-08:00,Debit,Booked,100320,"3818 02DEC16 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB",2016-12-05T20:21:50-08:00,10.70,POS,low
27,32353542,"{""Amount"": ""50.4"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2016-12-06T20:21:50-08:00,Credit,Booked,100321,"/RFB/GMCI STATMT , PCM55CI72706905 , HENNER GMC",2016-12-06T20:21:50-08:00,50.40,CHP,low
28,32353544,"{""Amount"": ""7.99"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-12-06T20:21:50-08:00,Credit,Booked,100322,"3818 03DEC16 , ARGOS LTD , CROYDON GB , REFUND",2016-12-06T20:21:50-08:00,7.99,POS,low
29,32353546,"{""Amount"": ""9"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-12-06T20:21:50-08:00,Debit,Booked,100323,"3818 05DEC16 C , POUNDWORLD RETAIL , CROYDON GB",2016-12-06T20:21:50-08:00,9.00,POS,low
...,...,...,...,...,...,...,...,...,...,...,...,...
372,32353524,"{""Amount"": ""1"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-11-03T20:21:50-08:00,Debit,Booked,101602,"CALL REF.NO. 0036 , ANIRUDH KUMAR VYAS, FP 02/...",2017-11-03T20:21:50-08:00,1.00,OTR,low
373,32353526,"{""Amount"": ""200"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-11-03T20:21:50-08:00,Debit,Booked,101603,"CALL REF.NO. 0036 , PAYAL SHARMA , FP 02/11/17...",2017-11-03T20:21:50-08:00,200.00,OTR,low
374,32353528,"{""Amount"": ""200"", ""Currency"": "" GBP""}","{""Code"": ""BAC"","" SubCode"": }",2017-11-06T20:21:50-08:00,Credit,Booked,101604,"ANIRUDH KUMAR VYAS, FROMSBIUKACCOUNT , FP 06/1...",2017-11-06T20:21:50-08:00,200.00,BAC,low
375,32353530,"{""Amount"": ""2"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-11-06T20:21:50-08:00,Credit,Booked,101605,"3818 03NOV17 , PAYPAL *REALTRADE , 35314369001...",2017-11-06T20:21:50-08:00,2.00,POS,low
376,32353532,"{""Amount"": ""13.68"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-11-07T20:21:50-08:00,Debit,Booked,101606,"3818 05NOV17 , PAYPAL , *WANGKEXIAN0 , 3531436...",2017-11-07T20:21:50-08:00,13.68,POS,low
377,32353534,"{""Amount"": ""144"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-11-07T20:21:50-08:00,Debit,Booked,101607,"3818 05NOV17 , LONDON BOROUGH OF , NEWH , LOND...",2017-11-07T20:21:50-08:00,144.00,POS,low
378,32353536,"{""Amount"": ""4.39"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-11-20T20:21:50-08:00,Debit,Booked,101608,"3818 17NOV17 , AMAZON UK , MARKETPLACE , 80027...",2017-11-20T20:21:50-08:00,4.39,POS,low
379,32353538,"{""Amount"": ""4.39"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-11-22T20:21:50-08:00,Debit,Booked,101609,"3818 21NOV17 , AMAZON SVCS EUUK , AMAZ , AMAZO...",2017-11-22T20:21:50-08:00,4.39,POS,low
380,32353540,"{""Amount"": ""14.75"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-11-22T20:21:50-08:00,Debit,Booked,101610,"3818 21NOV17 , PAYPAL , *DECATHLONUK , 3531436...",2017-11-22T20:21:50-08:00,14.75,POS,low
381,32353542,"{""Amount"": ""88.44"", ""Currency"": "" GBP""}","{""Code"": ""CHP"","" SubCode"": }",2017-11-23T20:21:50-08:00,Credit,Booked,101611,"/RFB/GMCI STATMT , PCM55CI78411388 , HENNER GMC",2017-11-23T20:21:50-08:00,88.44,CHP,low
382,32353544,"{""Amount"": ""20.99"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-11-23T20:21:50-08:00,Debit,Booked,101612,"3818 22NOV17 , AMAZON SVCS EUUK , AMAZ , AMAZO...",2017-11-23T20:21:50-08:00,20.99,POS,low
383,32353546,"{""Amount"": ""18.99"", ""Currency"": "" GBP""}","{""Code"": ""D/D"","" SubCode"": }",2017-11-23T20:21:50-08:00,Debit,Booked,101613,SKY DIGITAL,2017-11-23T20:21:50-08:00,18.99,D/D,low
384,32353548,"{""Amount"": ""6"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-11-27T20:21:50-08:00,Debit,Booked,101614,"3818 26NOV17 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB",2017-11-27T20:21:50-08:00,6.00,POS,low
385,32353542,"{""Amount"": ""200"", ""Currency"": "" GBP""}","{""Code"": ""BAC"","" SubCode"": }",2017-12-04T20:21:50-08:00,Credit,Booked,101701,"ANIRUDH KUMAR VYAS, FROMSBIUKACCOUNTTO, FP 04/...",2017-12-04T20:21:50-08:00,200.00,BAC,low
386,32353544,"{""Amount"": ""25.99"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-05T20:21:50-08:00,Debit,Booked,101702,"3818 04DEC17 , AMAZON UK , MARKETPLACE , 80027...",2017-12-05T20:21:50-08:00,25.99,POS,low
387,32353546,"{""Amount"": ""140.25"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-05T20:21:50-08:00,Debit,Booked,101703,"3818 04DEC17 , WWW.SSE.CO.UK , INTERNET GB",2017-12-05T20:21:50-08:00,140.25,POS,low
388,32353548,"{""Amount"": ""0.99"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-08T20:21:50-08:00,Debit,Booked,101704,"3818 07DEC17 , AMAZON UK , MARKETPLACE , 80027...",2017-12-08T20:21:50-08:00,0.99,POS,low
389,32353550,"{""Amount"": ""10"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-11T20:21:50-08:00,Debit,Booked,101705,"1177 08DEC17 D , MONZO , 448008021456 GB",2017-12-11T20:21:50-08:00,10.00,POS,low
390,32353552,"{""Amount"": ""13.68"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-12T20:21:50-08:00,Credit,Booked,101706,"3818 11DEC17 , PAYPAL , *WANGKEXIAN0 , 3531436...",2017-12-12T20:21:50-08:00,13.68,POS,low
391,32353554,"{""Amount"": ""2.15"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-21T20:21:50-08:00,Debit,Booked,101707,"3818 20DEC17 C , TESCO STORES 6554 , LONDON GB",2017-12-21T20:21:50-08:00,2.15,POS,low
392,32353556,"{""Amount"": ""13.98"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-27T20:21:50-08:00,Credit,Booked,101708,"3818 25DEC17 , PAYPAL , *ARGOSLIMITE , 3531436...",2017-12-27T20:21:50-08:00,13.98,POS,low
393,32353558,"{""Amount"": ""13.98"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-27T20:21:50-08:00,Debit,Booked,101709,"3818 25DEC17 , PAYPAL , *ARGOSLIMITE , 3531436...",2017-12-27T20:21:50-08:00,13.98,POS,low
394,32353560,"{""Amount"": ""24.45"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-27T20:21:50-08:00,Debit,Booked,101710,"3818 25DEC17 , PAYPAL , *ARGOSLIMITE , 3531436...",2017-12-27T20:21:50-08:00,24.45,POS,low
395,32353562,"{""Amount"": ""23.45"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-27T20:21:50-08:00,Debit,Booked,101711,"3818 26DEC17 , DEBENHAMS.COM , LONDON GB",2017-12-27T20:21:50-08:00,23.45,POS,low
396,32353564,"{""Amount"": ""18.99"", ""Currency"": "" GBP""}","{""Code"": ""D/D"","" SubCode"": }",2017-12-27T20:21:50-08:00,Debit,Booked,101712,SKY DIGITAL,2017-12-27T20:21:50-08:00,18.99,D/D,low
397,32353566,"{""Amount"": ""5.1"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-28T20:21:50-08:00,Debit,Booked,101713,"3818 27DEC17 , AMAZON UK RETAIL , AMAZON.CO.UK LU",2017-12-28T20:21:50-08:00,5.10,POS,low
398,32353568,"{""Amount"": ""5.1"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-28T20:21:50-08:00,Debit,Booked,101714,"3818 27DEC17 , AMAZON UK RETAIL , AMAZON.CO.UK LU",2017-12-28T20:21:50-08:00,5.10,POS,low
399,32353570,"{""Amount"": ""5.1"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-28T20:21:50-08:00,Debit,Booked,101715,"3818 27DEC17 , AMAZON UK RETAIL , AMAZON.CO.UK LU",2017-12-28T20:21:50-08:00,5.10,POS,low
400,32353572,"{""Amount"": ""5.95"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-28T20:21:50-08:00,Debit,Booked,101716,"3818 27DEC17 , AMAZON UK RETAIL , AMAZON.CO.UK LU",2017-12-28T20:21:50-08:00,5.95,POS,low
401,32353574,"{""Amount"": ""5.1"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-28T20:21:50-08:00,Debit,Booked,101717,"3818 27DEC17 , AMAZON UK RETAIL , AMAZON.CO.UK LU",2017-12-28T20:21:50-08:00,5.10,POS,low

In [12]:
def getMerchfromDesc(tranType,tranDesc):
            if tranType=='POS':        
                parsed=tranDesc.split(', ')
                lenPar=len(parsed)
                if parsed[lenPar-1] == 'REFUND':
                    merch=parsed[1:-2]
                    return ('').join(merch)+'REFUND'
                else:
                    merch=parsed[1:-1]
                    return ('').join(merch)
            else:
                return tranDesc

In [15]:
def cleanMerchant(txt):
            txt=re.sub(r'[^a-zA-Z\b]', ' ', str(txt).upper())
            return " ".join(txt.split())
TransactionDf['Merchant']=TransactionDf.apply(lambda row:getMerchfromDesc(row['Type'],row['TransactionInformation']),axis=1 )
TransactionDf['cleanedMerchant']=TransactionDf['Merchant'].map(lambda x:cleanMerchant(x))
TransactionDf['Predictorcolumn']=TransactionDf['CreditDebitIndicator']+' '+TransactionDf['cleanedMerchant']+' '+TransactionDf['Type']+' '+TransactionDf['AmountInGBP_bin'].astype(str)

In [16]:
TransactionDf.head()

,AccountId,Amount,BankTransactionCode,BookingDateTime,CreditDebitIndicator,Status,TransactionId,TransactionInformation,ValueDateTime,AmountInGBP,Type,AmountInGBP_bin,Merchant,cleanedMerchant,Predictorcolumn
0,32353522,"{""Amount"": ""100"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-18T20:21:50-08:00,Credit,Booked,100211,"CALL REF.NO. 0000 , FROM A/C 10111778",2016-11-18T20:21:50-08:00,100.00,OTR,low,"CALL REF.NO. 0000 , FROM A/C 10111778",CALL REF NO FROM A C,Credit CALL REF NO FROM A C OTR low
1,32353524,"{""Amount"": ""50"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-18T20:21:50-08:00,Debit,Booked,100212,"3818 17NOV16 , DEBENHAMS , CROYDON GB",2016-11-18T20:21:50-08:00,50.00,POS,low,DEBENHAMS,DEBENHAMS,Debit DEBENHAMS POS low
2,32353526,"{""Amount"": ""2"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-23T20:21:50-08:00,Debit,Booked,100213,"3818 22NOV16 C , COOP GROUP FOOD , CROYDON GB",2016-11-23T20:21:50-08:00,2.00,POS,low,COOP GROUP FOOD,COOP GROUP FOOD,Debit COOP GROUP FOOD POS low
3,32353528,"{""Amount"": ""2.4"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-23T20:21:50-08:00,Debit,Booked,100214,"3818 22NOV16 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB",2016-11-23T20:21:50-08:00,2.40,POS,low,TFL.GOV.UK/CP,TFL GOV UK CP,Debit TFL GOV UK CP POS low
4,32353530,"{""Amount"": ""4.99"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-24T20:21:50-08:00,Credit,Booked,100215,"3818 23NOV16 , LIDL UK , LONDON GB , REFUND",2016-11-24T20:21:50-08:00,4.99,POS,low,LIDL UK REFUND,LIDL UK REFUND,Credit LIDL UK REFUND POS low

In [17]:
TransactionDf['Merchant']=TransactionDf.apply(lambda row:getMerchfromDesc(row['Type'],row['TransactionInformation']),axis=1 )
TransactionDf['cleanedMerchant']=TransactionDf['Merchant'].map(lambda x:cleanMerchant(x))
TransactionDf['Predictorcolumn']=TransactionDf['CreditDebitIndicator']+' '+TransactionDf['cleanedMerchant']+' '+TransactionDf['Type']+' '+TransactionDf['AmountInGBP_bin'].astype(str)

In [18]:
TransactionDf.head()

,AccountId,Amount,BankTransactionCode,BookingDateTime,CreditDebitIndicator,Status,TransactionId,TransactionInformation,ValueDateTime,AmountInGBP,Type,AmountInGBP_bin,Merchant,cleanedMerchant,Predictorcolumn
0,32353522,"{""Amount"": ""100"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-18T20:21:50-08:00,Credit,Booked,100211,"CALL REF.NO. 0000 , FROM A/C 10111778",2016-11-18T20:21:50-08:00,100.00,OTR,low,"CALL REF.NO. 0000 , FROM A/C 10111778",CALL REF NO FROM A C,Credit CALL REF NO FROM A C OTR low
1,32353524,"{""Amount"": ""50"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-18T20:21:50-08:00,Debit,Booked,100212,"3818 17NOV16 , DEBENHAMS , CROYDON GB",2016-11-18T20:21:50-08:00,50.00,POS,low,DEBENHAMS,DEBENHAMS,Debit DEBENHAMS POS low
2,32353526,"{""Amount"": ""2"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-23T20:21:50-08:00,Debit,Booked,100213,"3818 22NOV16 C , COOP GROUP FOOD , CROYDON GB",2016-11-23T20:21:50-08:00,2.00,POS,low,COOP GROUP FOOD,COOP GROUP FOOD,Debit COOP GROUP FOOD POS low
3,32353528,"{""Amount"": ""2.4"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-23T20:21:50-08:00,Debit,Booked,100214,"3818 22NOV16 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB",2016-11-23T20:21:50-08:00,2.40,POS,low,TFL.GOV.UK/CP,TFL GOV UK CP,Debit TFL GOV UK CP POS low
4,32353530,"{""Amount"": ""4.99"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2016-11-24T20:21:50-08:00,Credit,Booked,100215,"3818 23NOV16 , LIDL UK , LONDON GB , REFUND",2016-11-24T20:21:50-08:00,4.99,POS,low,LIDL UK REFUND,LIDL UK REFUND,Credit LIDL UK REFUND POS low

In [19]:
with open('vectorizer.pkl','rb') as f:
            vectorizer = pickle.load(f)

In [20]:
with open('RandomForest_classifier_Feb24.pkl','rb') as f:
            RandomForest_model = pickle.load(f)

In [21]:
def predictionModule(row):
            if (row['Type']=='ATM'):
                if row['CreditDebitIndicator']=='Debit':
                    return row['Type']+' Withdrawal'
                else:
                    return row['Type']+' Deposit'
            else:
                vector=vectorizer.transform([row['Predictorcolumn']])
                prediction=RandomForest_model.predict(vector)[0]
                return prediction

In [25]:
TransactionDf['RF_Predictions']=TransactionDf.apply(lambda row:predictionModule(row),axis=1)
        #surrogate = final_default_list[['New_ID_x','final_predict','Reason']]
surrogate = TransactionDf[['AccountId','TransactionInformation','Type','RF_Predictions']]
        #final_surrogate = surrogate.drop_duplicates()

In [26]:
dict_lst = []
for i in surrogate.iterrows():
            #print(i[1]['predict_class'])
            cust_id = i[1]['AccountId']
            Transaction_Information = i[1]['TransactionInformation']
            Transaction_Type = i[1]['Type']
            predicted_class = i[1]['RF_Predictions']
            #default_Reason = i[1]['Reason']

            elm = {"cust_id": cust_id,"Transaction_Information":Transaction_Information,"Transaction_Type":Transaction_Type,"predicted_class":predicted_class}
            dict_lst.append(elm)

In [28]:
res_data_dict = {"Transaction_Details":dict_lst}
print(res_data_dict)

{'Transaction_Details': [{'cust_id': 32353522, 'Transaction_Information': 'CALL REF.NO. 0000 , FROM A/C 10111778', 'Transaction_Type': 'OTR', 'predicted_class': 'Financial Services, Funds Transfer'}, {'cust_id': 32353524, 'Transaction_Information': '3818 17NOV16 , DEBENHAMS , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Clothing'}, {'cust_id': 32353526, 'Transaction_Information': '3818 22NOV16 C , COOP GROUP FOOD , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353528, 'Transaction_Information': '3818 22NOV16 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Rail'}, {'cust_id': 32353530, 'Transaction_Information': '3818 23NOV16 , LIDL UK , LONDON GB , REFUND', 'Transaction_Type': 'POS', 'predicted_class': 'Income, Refunds'}, {'cust_id': 32353532, 'Transaction_Information': '3818 23NOV16 C , LIDL UK , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Food & Drink'}, {'cust_id': 32353534, 'Transaction_Information': 'CALL REF.NO. 0000 , FROM A/C 10111778', 'Transaction_Type': 'OTR', 'predicted_class': 'Financial Services, Funds Transfer'}, {'cust_id': 32353536, 'Transaction_Information': '3818 24NOV16 C , POUNDWORLD RETAIL , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353538, 'Transaction_Information': 'CALL REF.NO. 0000 , FROM A/C 10111778', 'Transaction_Type': 'OTR', 'predicted_class': 'Financial Services, Funds Transfer'}, {'cust_id': 32353540, 'Transaction_Information': '3818 26NOV16 , ARGOS LTD , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353542, 'Transaction_Information': '3818 26NOV16 , ARGOS RETAIL GROUP, INTERNET GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353544, 'Transaction_Information': '3818 25NOV16 , TESCO DIRECT , CHESHUNT GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353546, 'Transaction_Information': '/RFB/GMCI STATMT , PCM55CI72578736 , HENNER GMC', 'Transaction_Type': 'CHP', 'predicted_class': 'Services, Health'}, {'cust_id': 32353522, 'Transaction_Information': 'SRIVASTAVA S , SUDHANSHUANIRUDH', 'Transaction_Type': 'OTR', 'predicted_class': 'Financial Services, Funds Transfer'}, {'cust_id': 32353524, 'Transaction_Information': 'CALL REF.NO. 0030 , SUDHANSHUSRIVASTAV', 'Transaction_Type': 'OTR', 'predicted_class': 'Financial Services, Funds Transfer'}, {'cust_id': 32353526, 'Transaction_Information': '3818 28NOV16 , VISION EXPRESS , CROYDON 0067 GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Health & Beauty'}, {'cust_id': 32353528, 'Transaction_Information': '3818 29NOV16 C , BOOTS 0866 , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Health & Beauty'}, {'cust_id': 32353522, 'Transaction_Information': '3818 30NOV16 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Rail'}, {'cust_id': 32353524, 'Transaction_Information': 'ANIRUDH KUMAR VYAS, TRANSFERTOMYNATWES, FP 02/12/16 1411 , 22141101180663000N, TRANSFERTOMYNATWES', 'Transaction_Type': 'BAC', 'predicted_class': 'Financial Services, Funds Transfer'}, {'cust_id': 32353526, 'Transaction_Information': 'KANWALJIT . , FOODANDPARTYEXP , VIA MOBILE  PYC', 'Transaction_Type': 'OTR', 'predicted_class': 'Financial Services, Funds Transfer'}, {'cust_id': 32353528, 'Transaction_Information': '3818 01DEC16 C , TESCO STORES 6765 , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353530, 'Transaction_Information': '/RFB/GMCI STATMT , PCM55CI72684987 , HENNER GMC', 'Transaction_Type': 'CHP', 'predicted_class': 'Services, Health'}, {'cust_id': 32353532, 'Transaction_Information': '3818 02DEC16 , ACORN , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Household Bills, Rent'}, {'cust_id': 32353534, 'Transaction_Information': '3818 03DEC16 C , BOOTS 0866 , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Health & Beauty'}, {'cust_id': 32353536, 'Transaction_Information': '3818 03DEC16 C , SAINSBURYS S/MKTS , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353538, 'Transaction_Information': '3818 03DEC16 C , POUNDWORLD RETAIL , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353540, 'Transaction_Information': '3818 02DEC16 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Rail'}, {'cust_id': 32353542, 'Transaction_Information': '/RFB/GMCI STATMT , PCM55CI72706905 , HENNER GMC', 'Transaction_Type': 'CHP', 'predicted_class': 'Services, Health'}, {'cust_id': 32353544, 'Transaction_Information': '3818 03DEC16 , ARGOS LTD , CROYDON GB , REFUND', 'Transaction_Type': 'POS', 'predicted_class': 'Income, Refunds'}, {'cust_id': 32353546, 'Transaction_Information': '3818 05DEC16 C , POUNDWORLD RETAIL , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353548, 'Transaction_Information': '3818 05DEC16 C , BOOTS 0866 , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Health & Beauty'}, {'cust_id': 32353550, 'Transaction_Information': '3818 05DEC16 , WDFE , HEATHROW GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Other'}, {'cust_id': 32353552, 'Transaction_Information': '3818 05DEC16 , PRIMARK , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Clothing'}, {'cust_id': 32353554, 'Transaction_Information': '3818 23DEC16 , PAYPAL , *LEBARALIMIT 9A , 35314369001 GB', 'Transaction_Type': 'POS', 'predicted_class': 'Communication, Mobile Phone'}, {'cust_id': 32353522, 'Transaction_Information': '/RFB/GMCI STATMT , PCM55CI73243020 , HENNER GMC', 'Transaction_Type': 'CHP', 'predicted_class': 'Services, Health'}, {'cust_id': 32353524, 'Transaction_Information': '/RFB/GMCI STATMT , PCM55CI73446179 , HENNER GMC', 'Transaction_Type': 'CHP', 'predicted_class': 'Services, Health'}, {'cust_id': 32353522, 'Transaction_Information': '3818 01FEB17 , LUL TICKET MACHINE, STRATFORD A GB', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Rail'}, {'cust_id': 32353524, 'Transaction_Information': '3818 01FEB17 C , SAINSBURYS S/MKTS , STRATFORD EAS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353526, 'Transaction_Information': "3818 01FEB17 C , SAINSBURY'S S/MKT , STRATFORD GB", 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353528, 'Transaction_Information': '3818 01FEB17 C , SAINSBURYS  STRAT, STRATFORD EAS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353530, 'Transaction_Information': '3818 01FEB17 C , SAINSBURYS  STRAT, STRATFORD EAS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353532, 'Transaction_Information': '3818 01FEB17 , THAMES WATER WEB , SWINDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Household Bills, Water'}, {'cust_id': 32353534, 'Transaction_Information': '3818 01FEB17 C , POUNDLAND , WILLENHALL GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353536, 'Transaction_Information': '3818 02FEB17 C , SAINSBURYS S/MKTS , LONDONGREAT GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353538, 'Transaction_Information': '3818 02FEB17 C , PRIMARK 671 , STRATFORD GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Clothing'}, {'cust_id': 32353540, 'Transaction_Information': '3818 04FEB17 C , W M MORRISONS PLC , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353542, 'Transaction_Information': '3818 04FEB17 , W M MORRISONS PLC , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353544, 'Transaction_Information': '3818 05FEB17 , LB CROYDON , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Other'}, {'cust_id': 32353546, 'Transaction_Information': '3818 04FEB17 C , POUNDLAND , WILLENHALL GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353548, 'Transaction_Information': '3818 07FEB17 , SAINSBURYS  STRAT, STRATFORD EAS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353550, 'Transaction_Information': '3818 06FEB17 , PRIMARK 671 , STRATFORD GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Clothing'}, {'cust_id': 32353552, 'Transaction_Information': '3818 07FEB17 C , SAINSBURYS S/MKTS , STRATFORD EAS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353554, 'Transaction_Information': 'ANIRUDH KUMAR VYAS, TRANSFERFROMSBIACC, FP 09/02/17 1659 , 60165935054654000N, TRANSFERFROMSBIACC', 'Transaction_Type': 'BAC', 'predicted_class': 'Financial Services, Funds Transfer'}, {'cust_id': 32353556, 'Transaction_Information': '3818 10FEB17 C , GATHER AND GATHER , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Restaurant'}, {'cust_id': 32353558, 'Transaction_Information': '3818 10FEB17 C , GATHER AND GATHER , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Restaurant'}, {'cust_id': 32353560, 'Transaction_Information': '3818 13FEB17 , TESCO STORE 3205 , SURREY QUAYS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353562, 'Transaction_Information': '3818 13FEB17 C , POUNDLAND LTD 1582, SURREY QUAYS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353564, 'Transaction_Information': '/RFB/GMCI STATMT , PCM55CI73801766 , HENNER GMC', 'Transaction_Type': 'CHP', 'predicted_class': 'Services, Health'}, {'cust_id': 32353566, 'Transaction_Information': '3818 15FEB17 C , SAINSBURYS  STRAT, STRATFORD EAS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353568, 'Transaction_Information': '3818 18FEB17 C , POUNDLAND , WILLENHALL GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353570, 'Transaction_Information': '3818 18FEB17 C , ASDA STORES , LEYTON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353572, 'Transaction_Information': '3818 17FEB17 C , LIDL UK , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Food & Drink'}, {'cust_id': 32353574, 'Transaction_Information': '3818 17FEB17 C , W M MORRISONS PLC , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353576, 'Transaction_Information': '3818 22FEB17 C , SAINSBURYS  STRAT, STRATFORD EAS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353578, 'Transaction_Information': '3818 25FEB17 , ASDA STORES , LEYTON GB , REFUND', 'Transaction_Type': 'POS', 'predicted_class': 'Income, Refunds'}, {'cust_id': 32353580, 'Transaction_Information': '3818 25FEB17 C , POUNDSTRETCHER , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353582, 'Transaction_Information': '3818 25FEB17 , ARGOS LTD , LONDON E15 GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353584, 'Transaction_Information': '3818 24FEB17 , DLR , WOOLWICH ARSE GB', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Rail'}, {'cust_id': 32353586, 'Transaction_Information': '3818 25FEB17 , ARGOS LTD , LONDON E15 GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353588, 'Transaction_Information': '3818 25FEB17 C , SAINSBURYS  STRAT, STRATFORD EAS GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353590, 'Transaction_Information': '1177 27FEB17 D , UBER BV , HELP.UBER.COM NL', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Taxis'}, {'cust_id': 32353592, 'Transaction_Information': '1177 27FEB17 D , UBER BV , HELP.UBER.COM NL', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Taxis'}, {'cust_id': 32353522, 'Transaction_Information': '3818 03MAR17 C , TESCO STORES2097 , BISHOPSGATE GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353524, 'Transaction_Information': '3818 05MAR17 C , TESCO STORE 2463 , ELEPT&CASTLE GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353526, 'Transaction_Information': '3818 05MAR17 C , ICELAND , ELPHT & CASTL GB', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Other'}, {'cust_id': 32353528, 'Transaction_Information': '3818 05MAR17 C , POUNDLAND , WILLENHALL GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353530, 'Transaction_Information': '3818 05MAR17 , LB CROYDON , CROYDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Other'}, {'cust_id': 32353532, 'Transaction_Information': '3818 06MAR17 C , TESCO STORES 6319 , BOROUGH GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353534, 'Transaction_Information': '3818 07MAR17 C , TESCO STORES 6390 , SOUTHWARK GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353536, 'Transaction_Information': '3818 07MAR17 C , GATHER AND GATHER , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Restaurant'}, {'cust_id': 32353538, 'Transaction_Information': '3818 09MAR17 C , SAINSBURYS S/MKTS , LONDONGREAT GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353540, 'Transaction_Information': '3818 11MAR17 C , WM MORRISON PLC , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353542, 'Transaction_Information': '3818 12MAR17 C , SAINSBURYS S/MKTS , LONDONGREAT GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353544, 'Transaction_Information': '3818 12MAR17 C , TESCO STORES 6390 , SOUTHWARK GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353546, 'Transaction_Information': '3818 15MAR17 , WWW.DOMINOS.CO.UK , 01908 580000 GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Food & Drink'}, {'cust_id': 32353548, 'Transaction_Information': '3818 18MAR17 , POUNDLAND , WILLENHALL GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353550, 'Transaction_Information': '3818 17MAR17 C , TESCO STORES 6390 , SOUTHWARK GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353552, 'Transaction_Information': '3818 18MAR17 C , LIDL UK , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Food & Drink'}, {'cust_id': 32353554, 'Transaction_Information': '3818 17MAR17 , LYCAMOBILE , INTERNET GB', 'Transaction_Type': 'POS', 'predicted_class': 'Communication, Mobile Phone'}, {'cust_id': 32353556, 'Transaction_Information': '3818 18MAR17 C , ASDA STORES LTD , 5871 , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353558, 'Transaction_Information': '3818 18MAR17 C , SAINSBURYS S/MKTS , ELEPHANT & CA GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353560, 'Transaction_Information': '3818 20MAR17 C , TESCO STORES 6390 , SOUTHWARK GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353562, 'Transaction_Information': '1177 24MAR17 D , UBER BV , HELP.UBER.COM NL', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Taxis'}, {'cust_id': 32353564, 'Transaction_Information': '3818 27MAR17 C , TESCO STORES 6390 , SOUTHWARK GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353566, 'Transaction_Information': '3818 28MAR17 , WWW.DOMINOS.CO.UK , 01908 580000 GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Food & Drink'}, {'cust_id': 32353568, 'Transaction_Information': '3818 29MAR17 C , TESCO STORES 6390 , SOUTHWARK GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353522, 'Transaction_Information': '1177 31MAR17 D , UBER BV , HELP.UBER.COM NL', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Taxis'}, {'cust_id': 32353524, 'Transaction_Information': '3818 31MAR17 , ASDA STORES LTD , 5871 , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353526, 'Transaction_Information': '3818 31MAR17 C , TESCO STORES 3189 , SOUTHWARK GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353528, 'Transaction_Information': 'ANIRUDH KUMAR VYAS, FROMSBIUKACCOUNT , FP 05/04/17 1306 , 05130616254653000N, FROMSBIUKACCOUNT', 'Transaction_Type': 'BAC', 'predicted_class': 'Financial Services, Funds Transfer'}, {'cust_id': 32353530, 'Transaction_Information': '3818 04APR17 , ASDA STORES LTD , 5871 , LONDON GB , REFUND', 'Transaction_Type': 'POS', 'predicted_class': 'Income, Refunds'}, {'cust_id': 32353532, 'Transaction_Information': '3818 04APR17 C , ASDA STORES LTD , 5871 , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353534, 'Transaction_Information': '3818 04APR17 C , ASDA STORES LTD , 5871 , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353536, 'Transaction_Information': '1177 05APR17 D , UBER BV , HELP.UBER.COM NL', 'Transaction_Type': 'POS', 'predicted_class': 'Travel, Taxis'}, {'cust_id': 32353538, 'Transaction_Information': '1177 08APR17 CD , TESCO STORES2265 , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353540, 'Transaction_Information': '3818 08APR17 , PAYPAL , *LEBARALIMIT , 35314369001 GB', 'Transaction_Type': 'POS', 'predicted_class': 'Communication, Mobile Phone'}, {'cust_id': 32353542, 'Transaction_Information': '3818 11APR17 , WWW.DOMINOS.CO.UK , 01908 580000 GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Food & Drink'}, {'cust_id': 32353544, 'Transaction_Information': '3818 11APR17 , PAYPAL , *SOUTHEASTER , 35314369001 GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Department / Online Stores'}, {'cust_id': 32353546, 'Transaction_Information': '1177 14APR17 CD , TESCO STORES 5130 , EASTCHEAP GB , REFUND', 'Transaction_Type': 'POS', 'predicted_class': 'Income, Refunds'}, {'cust_id': 32353548, 'Transaction_Information': '1177 13APR17 CD , PRIMARK 674 , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Clothing'}, {'cust_id': 32353550, 'Transaction_Information': '1177 14APR17 CD , POUNDLAND LTD , WILLENHALL GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353552, 'Transaction_Information': '1177 14APR17 CD , POUNDLAND LTD , WILLENHALL GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353554, 'Transaction_Information': '1177 16APR17 CD , SAINSBURYS SMKTS , THE CITY BLAC GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353556, 'Transaction_Information': '1177 16APR17 CD , TESCO STORES 6077 , LONDON GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353558, 'Transaction_Information': '1177 16APR17 CD , SAINSBURYS SMKTS , THE CITY BLAC GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353560, 'Transaction_Information': '1177 14APR17 CD , TESCO STORES 5130 , EASTCHEAP GB', 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353562, 'Transaction_Information': "1177 14APR17 CD , SAINSBURY'S S/MKTS, 6144 GB", 'Transaction_Type': 'POS', 'predicted_class': 'Retail, Supermarket'}, {'cust_id': 32353564, 'Transactio

In [35]:
a= pd.DataFrame(res_data_dict)
a.head()

                                 Transaction_Details
0  {'cust_id': 32353522, 'Transaction_Information...
1  {'cust_id': 32353524, 'Transaction_Information...
2  {'cust_id': 32353526, 'Transaction_Information...
3  {'cust_id': 32353528, 'Transaction_Information...
4  {'cust_id': 32353530, 'Transaction_Information...