In [20]:
# Disable warnings, set Matplotlib inline plotting and load Pandas package
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
import pandas as pd

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [21]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession


spark = SparkSession\
        .builder\
        .appName("Product_Categorisation")\
        .config('spark.sql.warehouse.dir','file:///home/sudipto21048867/Pyspark/spark-warehouse')\
        .getOrCreate()

In [22]:
TransactionDf = spark.read.csv('/user/sudipto21048867/Llyods_data/BASE_Data/TransactionSummaryLabelled.csv',                            
                          header='true', 
                          inferSchema='true', encoding='ISO-8859-1')

In [23]:
TransactionDf.show()

+---------+----+--------------------+-------+--------+---------+--------+--------------------+
|     Date|Type|         Description|Paid in|Paid out|  Balance|category|   Detailed Category|
+---------+----+--------------------+-------+--------+---------+--------+--------------------+
|25-Aug-17| POS|3818 23AUG17 , PA...|      -|   365.3|   £89.02|  Travel|            Agencies|
|25-Aug-17| POS|3818 23AUG17 , PA...|      -|   365.3|   £89.02|  Travel|            Agencies|
|22-Nov-17| POS|3818 21NOV17 , PA...|      -|   14.75|  £184.37|  Retail|            Clothing|
|18-Apr-17| POS|1177 13APR17 CD ,...|      -|    24.5|  £159.76|  Retail|            Clothing|
| 6-Feb-17| POS|3818 02FEB17 C , ...|      -|       2|  £737.19|  Retail|            Clothing|
| 7-Dec-16| POS|3818 05DEC16 , PR...|      -|      62|  £525.51|  Retail|            Clothing|
| 8-Feb-17| POS|3818 06FEB17 , PR...|      -|    32.3|    £9.41|  Retail|            Clothing|
|10-Jul-17| POS|3818 07JUL17 , PR...|      -|   117.1|£1,183.35|  Retail|            Clothing|
|10-Jul-17| POS|3818 07JUL17 C , ...|      -|       5|£1,300.45|  Retail|            Clothing|
|18-Nov-16| POS|3818 17NOV16 , DE...|      -|      50|   £99.36|  Retail|            Clothing|
|20-Oct-17| POS|3818 18OCT17 C , ...|      -|      22|  £258.40|  Retail|            Clothing|
|24-Jul-17| POS|3818 22JUL17 , PR...|      -|      36|  £929.43|  Retail|            Clothing|
|29-Aug-17| POS|3818 26AUG17 , PR...|      -|    82.5|  -£17.60|  Retail|            Clothing|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      -|    0.85|  £138.13|  Retail|Department / Onli...|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      -|    1.27|  £166.62|  Retail|Department / Onli...|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      -|   11.66|  £154.96|  Retail|Department / Onli...|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      -|    4.32|  £150.64|  Retail|Department / Onli...|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      -|   11.66|  £138.98|  Retail|Department / Onli...|
| 4-Jul-17| POS|3818 03JUL17 , AM...|      -|    1.72|£1,355.10|  Retail|Department / Onli...|
| 5-Dec-17| POS|3818 04DEC17 , AM...|      -|   25.99|  £400.84|  Retail|Department / Onli...|
+---------+----+--------------------+-------+--------+---------+--------+--------------------+
only showing top 20 rows

In [24]:
TransactionDf.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Paid in: string (nullable = true)
 |-- Paid out: string (nullable = true)
 |-- Balance: string (nullable = true)
 |-- category: string (nullable = true)
 |-- Detailed Category: string (nullable = true)

In [25]:
from pyspark.sql.types import FloatType
from pyspark.sql.types import StringType
from pyspark.sql.functions import UserDefinedFunction as udf

In [26]:


paid_in_cleaned = udf(lambda y: y.replace(',', '') if y!='-' else '0' , StringType())
paid_out_cleaned = udf(lambda y: y.replace(',', '') if y!='-' else '0', StringType())
#paid_in_out_cleaned = udf(lambda k: paid_in_out_clean[k,l], FloatType(),FloatType())
#paid_paid_cleaned = udf(lambda k: paid_final_clean[k,l], FloatType())

In [27]:
TransactionDf = TransactionDf.withColumn('Paid in',paid_in_cleaned(TransactionDf['Paid in'])).\
                              withColumn('Paid out',paid_out_cleaned(TransactionDf['Paid out']))

In [28]:
TransactionDf.show()

+---------+----+--------------------+-------+--------+---------+--------+--------------------+
|     Date|Type|         Description|Paid in|Paid out|  Balance|category|   Detailed Category|
+---------+----+--------------------+-------+--------+---------+--------+--------------------+
|25-Aug-17| POS|3818 23AUG17 , PA...|      0|   365.3|   £89.02|  Travel|            Agencies|
|25-Aug-17| POS|3818 23AUG17 , PA...|      0|   365.3|   £89.02|  Travel|            Agencies|
|22-Nov-17| POS|3818 21NOV17 , PA...|      0|   14.75|  £184.37|  Retail|            Clothing|
|18-Apr-17| POS|1177 13APR17 CD ,...|      0|    24.5|  £159.76|  Retail|            Clothing|
| 6-Feb-17| POS|3818 02FEB17 C , ...|      0|       2|  £737.19|  Retail|            Clothing|
| 7-Dec-16| POS|3818 05DEC16 , PR...|      0|      62|  £525.51|  Retail|            Clothing|
| 8-Feb-17| POS|3818 06FEB17 , PR...|      0|    32.3|    £9.41|  Retail|            Clothing|
|10-Jul-17| POS|3818 07JUL17 , PR...|      0|   117.1|£1,183.35|  Retail|            Clothing|
|10-Jul-17| POS|3818 07JUL17 C , ...|      0|       5|£1,300.45|  Retail|            Clothing|
|18-Nov-16| POS|3818 17NOV16 , DE...|      0|      50|   £99.36|  Retail|            Clothing|
|20-Oct-17| POS|3818 18OCT17 C , ...|      0|      22|  £258.40|  Retail|            Clothing|
|24-Jul-17| POS|3818 22JUL17 , PR...|      0|      36|  £929.43|  Retail|            Clothing|
|29-Aug-17| POS|3818 26AUG17 , PR...|      0|    82.5|  -£17.60|  Retail|            Clothing|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      0|    0.85|  £138.13|  Retail|Department / Onli...|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      0|    1.27|  £166.62|  Retail|Department / Onli...|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      0|   11.66|  £154.96|  Retail|Department / Onli...|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      0|    4.32|  £150.64|  Retail|Department / Onli...|
| 3-Jan-18| POS|3818 02JAN18 , AM...|      0|   11.66|  £138.98|  Retail|Department / Onli...|
| 4-Jul-17| POS|3818 03JUL17 , AM...|      0|    1.72|£1,355.10|  Retail|Department / Onli...|
| 5-Dec-17| POS|3818 04DEC17 , AM...|      0|   25.99|  £400.84|  Retail|Department / Onli...|
+---------+----+--------------------+-------+--------+---------+--------+--------------------+
only showing top 20 rows

In [ ]:
TransactionDf['Paid in']=[str(x).replace(',', '') if x!='-' else '0' for x in TransactionDf['Paid in']]
TransactionDf['Paid out']=[str(x).replace(',', '') if x!='-' else '0' for x in TransactionDf['Paid out']]
TransactionDf[['Paid in','Paid out']]=TransactionDf[['Paid in','Paid out']].astype(float)
TransactionDf['final_paid']=(TransactionDf['Paid in']-TransactionDf['Paid out']).abs()