In [1]:
import ast
import pickle
import re

import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
import json

In [2]:
#data = json.load(open('C:/Users/sudsaha1/Documents/My Received Files/TransformedSummary.json'))

#TransactionDf = [item for items in data.values() for item in items]
#TransactionDf=pd.DataFrame(TransactionDf) 
TransactionDf = pd.read_csv('C:/Users/sudsaha1/Documents/My Received Files/CombinedSummary.csv')

In [3]:
TransactionDf.head()

,Unnamed: 0,AccountId,Amount,BankTransactionCode,BookingDateTime,CreditDebitIndicator,Status,TransactionId,TransactionInformation,ValueDateTime,category,Detailed Category
0,296,32353546,"{""Amount"": ""139.9"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2016-11-29T20:21:50-08:00,Credit,Booked,100223,"/RFB/GMCI STATMT , PCM55CI72578736 , HENNER GMC",2016-11-29T20:21:50-08:00,Services,Health
1,76,32353530,"{""Amount"": ""388.5"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2016-12-05T20:21:50-08:00,Credit,Booked,100315,"/RFB/GMCI STATMT , PCM55CI72684987 , HENNER GMC",2016-12-05T20:21:50-08:00,Services,Health
2,82,32353542,"{""Amount"": ""50.4"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2016-12-06T20:21:50-08:00,Credit,Booked,100321,"/RFB/GMCI STATMT , PCM55CI72706905 , HENNER GMC",2016-12-06T20:21:50-08:00,Services,Health
3,268,32353522,"{""Amount"": ""404"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2017-01-11T20:21:50-08:00,Credit,Booked,100401,"/RFB/GMCI STATMT , PCM55CI73243020 , HENNER GMC",2017-01-11T20:21:50-08:00,Services,Health
4,269,32353524,"{""Amount"": ""45"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2017-01-24T20:21:50-08:00,Credit,Booked,100402,"/RFB/GMCI STATMT , PCM55CI73446179 , HENNER GMC",2017-01-24T20:21:50-08:00,Services,Health

In [4]:
TransactionDf['AmountInGBP'] = TransactionDf['Amount'].map(lambda x: ast.literal_eval(x)['Amount']).astype(np.float)
TransactionDf['Type'] = TransactionDf['BankTransactionCode'].map(lambda x: ast.literal_eval(x[:-1] + "\"\"" + '}')['Code'])

In [5]:
TransactionDf.head().transpose()

,0,1,2,3,4
Unnamed: 0,296,76,82,268,269
AccountId,32353546,32353530,32353542,32353522,32353524
Amount,"{""Amount"": ""139.9"", ""Currency"": ""GBP""}","{""Amount"": ""388.5"", ""Currency"": ""GBP""}","{""Amount"": ""50.4"", ""Currency"": ""GBP""}","{""Amount"": ""404"", ""Currency"": ""GBP""}","{""Amount"": ""45"", ""Currency"": ""GBP""}"
BankTransactionCode,"{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }"
BookingDateTime,2016-11-29T20:21:50-08:00,2016-12-05T20:21:50-08:00,2016-12-06T20:21:50-08:00,2017-01-11T20:21:50-08:00,2017-01-24T20:21:50-08:00
CreditDebitIndicator,Credit,Credit,Credit,Credit,Credit
Status,Booked,Booked,Booked,Booked,Booked
TransactionId,100223,100315,100321,100401,100402
TransactionInformation,"/RFB/GMCI STATMT , PCM55CI72578736 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI72684987 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI72706905 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI73243020 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI73446179 , HENNER GMC"
ValueDateTime,2016-11-29T20:21:50-08:00,2016-12-05T20:21:50-08:00,2016-12-06T20:21:50-08:00,2017-01-11T20:21:50-08:00,2017-01-24T20:21:50-08:00
category,Services,Services,Services,Services,Services
Detailed Category,Health,Health,Health,Health,Health
AmountInGBP,139.9,388.5,50.4,404,45
Type,CHP,CHP,CHP,CHP,CHP

In [6]:
def BinningData(TransactionDf, bins):
    min_val = min((TransactionDf['AmountInGBP']) - 1)
    max_val = max(TransactionDf['AmountInGBP'])
    # print(min_val, max_val)
    custom_bucket_array = np.linspace(min_val, max_val, bins)
    cut_points = list(custom_bucket_array)
    group_name = ["low", "medium", "high"]
    TransactionDf["AmountInGBP_bin"] = pd.cut(TransactionDf["AmountInGBP"], cut_points, labels=group_name)
    return TransactionDf


BinningData(TransactionDf, 4)

,Unnamed: 0,AccountId,Amount,BankTransactionCode,BookingDateTime,CreditDebitIndicator,Status,TransactionId,TransactionInformation,ValueDateTime,category,Detailed Category,AmountInGBP,Type,AmountInGBP_bin
0,296,32353546,"{""Amount"": ""139.9"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2016-11-29T20:21:50-08:00,Credit,Booked,100223,"/RFB/GMCI STATMT , PCM55CI72578736 , HENNER GMC",2016-11-29T20:21:50-08:00,Services,Health,139.90,CHP,low
1,76,32353530,"{""Amount"": ""388.5"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2016-12-05T20:21:50-08:00,Credit,Booked,100315,"/RFB/GMCI STATMT , PCM55CI72684987 , HENNER GMC",2016-12-05T20:21:50-08:00,Services,Health,388.50,CHP,low
2,82,32353542,"{""Amount"": ""50.4"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2016-12-06T20:21:50-08:00,Credit,Booked,100321,"/RFB/GMCI STATMT , PCM55CI72706905 , HENNER GMC",2016-12-06T20:21:50-08:00,Services,Health,50.40,CHP,low
3,268,32353522,"{""Amount"": ""404"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2017-01-11T20:21:50-08:00,Credit,Booked,100401,"/RFB/GMCI STATMT , PCM55CI73243020 , HENNER GMC",2017-01-11T20:21:50-08:00,Services,Health,404.00,CHP,low
4,269,32353524,"{""Amount"": ""45"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2017-01-24T20:21:50-08:00,Credit,Booked,100402,"/RFB/GMCI STATMT , PCM55CI73446179 , HENNER GMC",2017-01-24T20:21:50-08:00,Services,Health,45.00,CHP,low
5,322,32353564,"{""Amount"": ""45"", ""Currency"": ""GBP""}","{""Code"": ""CHP"","" SubCode"": }",2017-02-15T20:21:50-08:00,Debit,Booked,100522,"/RFB/GMCI STATMT , PCM55CI73801766 , HENNER GMC",2017-02-15T20:21:50-08:00,Services,Health,45.00,CHP,low
6,280,32353542,"{""Amount"": ""88.44"", ""Currency"": "" GBP""}","{""Code"": ""CHP"","" SubCode"": }",2017-11-23T20:21:50-08:00,Credit,Booked,101611,"/RFB/GMCI STATMT , PCM55CI78411388 , HENNER GMC",2017-11-23T20:21:50-08:00,Services,Health,88.44,CHP,low
7,214,32353524,"{""Amount"": ""5"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-08-02T20:21:50-08:00,Debit,Booked,101302,"1177 01AUG17 CD , NISA VIRGINIA , QUAY , LOND...",2017-08-04T20:21:50-08:00,Retail,Supermarket,5.00,POS,low
8,339,32353526,"{""Amount"": ""0.99"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-07-03T20:21:50-08:00,Debit,Booked,101203,"1177 01JUL17 CD , TESCO STORES 6554 , LONDON GB",2017-07-03T20:21:50-08:00,Retail,Supermarket,0.99,POS,low
9,215,32353526,"{""Amount"": ""1"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-08-03T20:21:50-08:00,Debit,Booked,101303,"1177 02AUG17 CD , TESCO STORES 6554 , LONDON GB",2017-08-04T20:21:50-08:00,Retail,Supermarket,1.00,POS,low
10,216,32353528,"{""Amount"": ""0.9"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-08-04T20:21:50-08:00,Debit,Booked,101304,"1177 03AUG17 CD , TESCO STORES 6390 , SOUTHWAR...",2017-08-07T20:21:50-08:00,Retail,Supermarket,0.90,POS,low
11,343,32353534,"{""Amount"": ""0.89"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-07-04T20:21:50-08:00,Debit,Booked,101207,"1177 03JUL17 CD , TESCO STORES 6390 , SOUTHWAR...",2017-07-05T20:21:50-08:00,Retail,Supermarket,0.89,POS,low
12,344,32353536,"{""Amount"": ""1.69"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-07-04T20:21:50-08:00,Debit,Booked,101208,"1177 03JUL17 CD , TESCO STORES 6554 , LONDON GB",2017-07-05T20:21:50-08:00,Retail,Supermarket,1.69,POS,low
13,345,32353538,"{""Amount"": ""0.09"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-07-05T20:21:50-08:00,Debit,Booked,101209,"1177 04JUL17 CD , TESCO STORES 6554 , LONDON GB",2017-07-06T20:21:50-08:00,Retail,Supermarket,0.09,POS,low
14,167,32353536,"{""Amount"": ""13.44"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-04-06T20:21:50-08:00,Debit,Booked,100808,"1177 05APR17 D , UBER BV , HELP.UBER.COM NL",2017-04-06T20:21:50-08:00,Travel,Taxis,13.44,POS,low
15,347,32353542,"{""Amount"": ""1.89"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-07-06T20:21:50-08:00,Debit,Booked,101211,"1177 05JUL17 CD , TESCO STORES 6554 , LONDON GB",2017-07-07T20:21:50-08:00,Retail,Supermarket,1.89,POS,low
16,1,32353524,"{""Amount"": ""1.89"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-06-06T20:21:50-08:00,Debit,Booked,101012,"1177 05JUN17 CD , TESCO STORES2265 , LONDON GB",2017-06-09T20:21:50-08:00,Retail,Supermarket,1.89,POS,low
17,48,32353528,"{""Amount"": ""10"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-09-06T20:21:50-08:00,Debit,Booked,101404,"1177 05SEP17 CD , TESCO STORES 6554 , LONDON GB",2017-09-06T20:21:50-08:00,Retail,Supermarket,10.00,POS,low
18,2,32353526,"{""Amount"": ""1.6"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-06-07T20:21:50-08:00,Debit,Booked,101013,"1177 06JUN17 CD , TESCO STORES2265 , LONDON GB",2017-06-12T20:21:50-08:00,Retail,Supermarket,1.60,POS,low
19,168,32353538,"{""Amount"": ""2.58"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-04-10T20:21:50-08:00,Debit,Booked,100809,"1177 08APR17 CD , TESCO STORES2265 , LONDON GB",2017-04-10T20:21:50-08:00,Retail,Supermarket,2.58,POS,low
20,93,32353550,"{""Amount"": ""10"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-12-11T20:21:50-08:00,Debit,Booked,101705,"1177 08DEC17 D , MONZO , 448008021456 GB",2017-12-11T20:21:50-08:00,Financial Services,Savings,10.00,POS,low
21,359,32353566,"{""Amount"": ""4.8"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-07-10T20:21:50-08:00,Debit,Booked,101223,"1177 08JUL17 CD , TFL.GOV.UK/CP , TFL TRAVEL C...",2017-07-11T20:21:50-08:00,Travel,Rail,4.80,POS,low
22,253,32353542,"{""Amount"": ""2.2"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-05-11T20:21:50-08:00,Debit,Booked,100911,"1177 10MAY17 CD , TESCO STORES 6390 , SOUTHWAR...",2017-05-11T20:21:50-08:00,Retail,Supermarket,2.20,POS,low
23,49,32353530,"{""Amount"": ""19.99"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-09-11T20:21:50-08:00,Debit,Booked,101405,"1177 10SEP17 CD , BOOTS 0714 , STRATFORD LON GB",2017-09-11T20:21:50-08:00,Retail,Health & Beauty,19.99,POS,low
24,362,32353572,"{""Amount"": ""0.7"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-07-12T20:21:50-08:00,Debit,Booked,101226,"1177 11JUL17 CD , TESCO STORES 6554 , LONDON GB",2017-07-13T20:21:50-08:00,Retail,Supermarket,0.70,POS,low
25,226,32353548,"{""Amount"": ""17.69"", ""Currency"": "" GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-08-14T20:21:50-08:00,Debit,Booked,101314,"1177 12AUG17 CD , TESCO STORES 6554 , LONDON GB",1900-01-00T20:21:50-08:00,Retail,Supermarket,17.69,POS,low
26,173,32353548,"{""Amount"": ""24.5"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-04-18T20:21:50-08:00,Debit,Booked,100814,"1177 13APR17 CD , PRIMARK 674 , LONDON GB",2017-04-18T20:21:50-08:00,Retail,Clothing,24.50,POS,low
27,174,32353550,"{""Amount"": ""3"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-04-18T20:21:50-08:00,Debit,Booked,100815,"1177 14APR17 CD , POUNDLAND LTD , WILLENHALL GB",2017-04-18T20:21:50-08:00,Retail,Supermarket,3.00,POS,low
28,175,32353552,"{""Amount"": ""3"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-04-18T20:21:50-08:00,Debit,Booked,100816,"1177 14APR17 CD , POUNDLAND LTD , WILLENHALL GB",2017-04-18T20:21:50-08:00,Retail,Supermarket,3.00,POS,low
29,180,32353562,"{""Amount"": ""3.27"", ""Currency"": ""GBP""}","{""Code"": ""POS"","" SubCode"": }",2017-04-18T20:21:50-08:00,Debit,Booked,100821,"1177 14APR17 CD , SAINSBURY'S S/MKTS, 6144 GB",2017-04-18T20:21:50-08:00,Retail,Supermarket,3.27,POS,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,144,32353598,"{""Amount"": ""50"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-10-23T20:21:50-08:00,Debit,Booked,101539,"ANIRUDH KUMAR VYAS, TRANSFERTOSTARLING, VIA MO...",2017-10-23T20:21:50-08:00,Financial Services,Funds Transfer,50.00,OTR,low
373,284,32353522,"{""Amount"": ""100"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-18T20:21:50-08:00,Credit,Booked,100211,"CALL REF.NO. 0000 , FROM A/C 10111778",2016-11-18T20:21:50-08:00,Financial Services,Funds Transfer,100.00,OTR,low
374,290,32353534,"{""Amount"": ""100"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-25T20:21:50-08:00,Credit,Booked,100217,"CALL REF.NO. 0000 , FROM A/C 10111778",2016-11-25T20:21:50-08:00,Financial Services,Funds Transfer,100.00,OTR,low
375,292,32353538,"{""Amount"": ""300"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-28T20:21:50-08:00,Credit,Booked,100219,"CALL REF.NO. 0000 , FROM A/C 10111778",2016-11-28T20:21:50-08:00,Financial Services,Funds Transfer,300.00,OTR,low
376,298,32353524,"{""Amount"": ""500"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-29T20:21:50-08:00,Debit,Booked,100225,"CALL REF.NO. 0030 , SUDHANSHUSRIVASTAV",2016-11-29T20:21:50-08:00,Financial Services,Funds Transfer,500.00,OTR,low
377,122,32353554,"{""Amount"": ""400"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-10-09T20:21:50-08:00,Debit,Booked,101517,"CALL REF.NO. 0034 , MANISH KUMAR SINGH",2017-10-09T20:21:50-08:00,Financial Services,Funds Transfer,400.00,OTR,low
378,271,32353524,"{""Amount"": ""1"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-11-03T20:21:50-08:00,Debit,Booked,101602,"CALL REF.NO. 0036 , ANIRUDH KUMAR VYAS, FP 02/...",2017-11-03T20:21:50-08:00,Financial Services,Funds Transfer,1.00,OTR,low
379,270,32353522,"{""Amount"": ""1"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-11-03T20:21:50-08:00,Debit,Booked,101601,"CALL REF.NO. 0036 , PAYAL SHARMA , FP 02/11/17...",2017-11-03T20:21:50-08:00,Financial Services,Funds Transfer,1.00,OTR,low
380,272,32353526,"{""Amount"": ""200"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-11-03T20:21:50-08:00,Debit,Booked,101603,"CALL REF.NO. 0036 , PAYAL SHARMA , FP 02/11/17...",2017-11-03T20:21:50-08:00,Financial Services,Funds Transfer,200.00,OTR,low
381,365,32353578,"{""Amount"": ""40"", ""Currency"": "" GBP""}","{""Code"": ""ATM"","" SubCode"": }",2017-07-13T20:21:50-08:00,Debit,Booked,101229,GET CASH 12JUL,2017-07-17T20:21:50-08:00,ATM Withdrawal,Other,40.00,ATM,low
382,74,32353526,"{""Amount"": ""20"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-12-02T20:21:50-08:00,Debit,Booked,100313,"KANWALJIT . , FOODANDPARTYEXP , VIA MOBILE PYC",2016-12-02T20:21:50-08:00,Financial Services,Funds Transfer,20.00,OTR,low
383,44,32353609,"{""Amount"": ""694"", ""Currency"": "" GBP""}","{""Code"": ""BAC"","" SubCode"": }",2017-06-30T20:21:50-08:00,Credit,Booked,101055,"MR MANISH K SINGH , TRANSFER FUNDS , FP 30/06/...",2017-07-03T20:21:50-08:00,Financial Services,Funds Transfer,694.00,BAC,low
384,110,32353530,"{""Amount"": ""50"", ""Currency"": "" GBP""}","{""Code"": ""ATM"","" SubCode"": }",2017-10-02T20:21:50-08:00,Debit,Booked,101505,NATIONWIDE 30SEP,2017-10-02T20:21:50-08:00,ATM Withdrawal,Other,50.00,ATM,low
385,260,32353556,"{""Amount"": ""20"", ""Currency"": "" GBP""}","{""Code"": ""ATM"","" SubCode"": }",2017-05-22T20:21:50-08:00,Debit,Booked,100918,NATWEST 20MAY,2017-05-24T20:21:50-08:00,ATM Withdrawal,Other,20.00,ATM,low
386,15,32353552,"{""Amount"": ""20"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-06-20T20:21:50-08:00,Debit,Booked,101026,"OXYGEN PROPERTY MA, OXY99 , VIA MOBILE LVP , ...",2017-06-20T20:21:50-08:00,Financial Services,Funds Transfer,20.00,OTR,low
387,9,32353540,"{""Amount"": ""250"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-06-16T20:21:50-08:00,Debit,Booked,101020,"OXYGEN PROPERTY MA, OXY99ANIRUDHVYAS , VIA MOB...",2017-06-19T20:21:50-08:00,Financial Services,Funds Transfer,250.00,OTR,low
388,370,32353588,"{""Amount"": ""100"", ""Currency"": "" GBP""}","{""Code"": ""ATM"","" SubCode"": }",2017-07-17T20:21:50-08:00,Debit,Booked,101234,ROYAL BANK 14JUL,2017-07-19T20:21:50-08:00,ATM Withdrawal,Other,100.00,ATM,low
389,45,32353522,"{""Amount"": ""16.45"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-09-04T20:21:50-08:00,Credit,Booked,101401,"SINGH M/XP , TRANSFER FUNDS",2017-09-04T20:21:50-08:00,Financial Services,Funds Transfer,16.45,OTR,low
390,68,32353568,"{""Amount"": ""64.5"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-09-25T20:21:50-08:00,Credit,Booked,101424,"SINGH M/XP , TRANSFER FUNDS",2017-09-25T20:21:50-08:00,Financial Services,Funds Transfer,64.50,OTR,low
391,157,32353600,"{""Amount"": ""100"", ""Currency"": "" GBP""}","{""Code"": ""OTR"","" SubCode"": }",2017-10-31T20:21:50-08:00,Credit,Booked,101552,"SINGH M/XP , TRANSFER FUNDS",2017-10-31T20:21:50-08:00,Financial Services,Funds Transfer,100.00,OTR,low
392,70,32353572,"{""Amount"": ""18.99"", ""Currency"": "" GBP""}","{""Code"": ""D/D"","" SubCode"": }",2017-09-25T20:21:50-08:00,Debit,Booked,101426,SKY DIGITAL,2017-09-25T20:21:50-08:00,Household Bills,TV Licence,18.99,D/D,low
393,100,32353564,"{""Amount"": ""18.99"", ""Currency"": "" GBP""}","{""Code"": ""D/D"","" SubCode"": }",2017-12-27T20:21:50-08:00,Debit,Booked,101712,SKY DIGITAL,2017-12-27T20:21:50-08:00,Household Bills,TV Licence,18.99,D/D,low
394,147,32353604,"{""Amount"": ""18.99"", ""Currency"": "" GBP""}","{""Code"": ""D/D"","" SubCode"": }",2017-10-25T20:21:50-08:00,Debit,Booked,101542,SKY DIGITAL,2017-10-25T20:21:50-08:00,Household Bills,TV Licence,18.99,D/D,low
395,232,32353560,"{""Amount"": ""18.99"", ""Currency"": "" GBP""}","{""Code"": ""D/D"","" SubCode"": }",2017-08-23T20:21:50-08:00,Debit,Booked,101320,SKY DIGITAL,2017-08-23T20:21:50-08:00,Household Bills,TV Licence,18.99,D/D,low
396,282,32353546,"{""Amount"": ""18.99"", ""Currency"": "" GBP""}","{""Code"": ""D/D"","" SubCode"": }",2017-11-23T20:21:50-08:00,Debit,Booked,101613,SKY DIGITAL,2017-11-23T20:21:50-08:00,Household Bills,TV Licence,18.99,D/D,low
397,392,32353548,"{""Amount"": ""18.99"", ""Currency"": "" GBP""}","{""Code"": ""D/D"","" SubCode"": }",2017-07-25T20:21:50-08:00,Debit,Booked,101256,SKY DIGITAL,2017-07-26T20:21:50-08:00,Household Bills,TV Licence,18.99,D/D,low
398,349,32353546,"{""Amount"": ""23.94"", ""Currency"": "" GBP""}","{""Code"": ""D/D"","" SubCode"": }",2017-07-07T20:21:50-08:00,Debit,Booked,101213,"SKY DIGITAL , INITIAL PAYMENT",2017-07-10T20:21:50-08:00,Household Bills,TV Licence,23.94,D/D,low
399,297,32353522,"{""Amount"": ""500"", ""Currency"": ""GBP""}","{""Code"": ""OTR"","" SubCode"": }",2016-11-29T20:21:50-08:00,Credit,Booked,100224,"SRIVASTAVA S , SUDHANSHUANIRUDH",2016-11-29T20:21:50-08:00,Financial Services,Funds Transfer,500.00,OTR,low
400,121,32353552,"{""Amount"": ""16"", ""Currency"": "" GBP""}","{""Code"": ""Charge"","" SubCode"": }",2017-10-09T20:21:50-08:00,Credit,Booked,101516,UNARRANGED OD REF,2017-10-09T20:21:50-08:00,Financial Services,Finance,16.00,Charge,low
401,118,32353546,"{""Amount"": ""16"", ""Currency"": "" GBP""}","{""Code"": ""Charge"","" SubCode"": }",2017-10-06T20:21:50-08:00,Debit,Booked,101513,"UNARRNGED OD USAGE, 15SEP A/C 10106774",2017-10-06T20:21:50-08:00,Financial Services,Finance,16.00,Charge,low

In [7]:
TransactionDf.head().transpose()

,0,1,2,3,4
Unnamed: 0,296,76,82,268,269
AccountId,32353546,32353530,32353542,32353522,32353524
Amount,"{""Amount"": ""139.9"", ""Currency"": ""GBP""}","{""Amount"": ""388.5"", ""Currency"": ""GBP""}","{""Amount"": ""50.4"", ""Currency"": ""GBP""}","{""Amount"": ""404"", ""Currency"": ""GBP""}","{""Amount"": ""45"", ""Currency"": ""GBP""}"
BankTransactionCode,"{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }"
BookingDateTime,2016-11-29T20:21:50-08:00,2016-12-05T20:21:50-08:00,2016-12-06T20:21:50-08:00,2017-01-11T20:21:50-08:00,2017-01-24T20:21:50-08:00
CreditDebitIndicator,Credit,Credit,Credit,Credit,Credit
Status,Booked,Booked,Booked,Booked,Booked
TransactionId,100223,100315,100321,100401,100402
TransactionInformation,"/RFB/GMCI STATMT , PCM55CI72578736 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI72684987 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI72706905 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI73243020 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI73446179 , HENNER GMC"
ValueDateTime,2016-11-29T20:21:50-08:00,2016-12-05T20:21:50-08:00,2016-12-06T20:21:50-08:00,2017-01-11T20:21:50-08:00,2017-01-24T20:21:50-08:00
category,Services,Services,Services,Services,Services
Detailed Category,Health,Health,Health,Health,Health
AmountInGBP,139.9,388.5,50.4,404,45
Type,CHP,CHP,CHP,CHP,CHP
AmountInGBP_bin,low,low,low,low,low

In [8]:
# Get Merchant info from Description
def getMerchfromDesc(tranType, tranDesc):
    if tranType == 'POS':
        parsed = tranDesc.split(', ')
        lenPar = len(parsed)
        if parsed[lenPar - 1] == 'REFUND':
            merch = parsed[1:-2]
            return ('').join(merch) + 'REFUND'
        else:
            merch = parsed[1:-1]
            return ('').join(merch)
    else:
        return tranDesc


# Clean Merchant info
def cleanMerchant(txt):
    txt = re.sub(r'[^a-zA-Z\b]', ' ', str(txt).upper())
    return " ".join(txt.split())

In [9]:
TransactionDf['Merchant'] = TransactionDf.apply(
    lambda row: getMerchfromDesc(row['Type'], row['TransactionInformation']), axis=1)
TransactionDf['cleanedMerchant'] = TransactionDf['Merchant'].map(lambda x: cleanMerchant(x))

TransactionDf['ConcatCategory'] = TransactionDf['category'] + ', ' + TransactionDf['Detailed Category']
# len(TransactionDf['ConcatCategory'].unique())

TransactionDf['Predictorcolumn'] = TransactionDf['CreditDebitIndicator'] + ' ' + TransactionDf['cleanedMerchant'] + ' ' + TransactionDf['Type'] + ' ' + TransactionDf['AmountInGBP_bin'].astype(str)

In [10]:
TransactionDf.head().transpose()

,0,1,2,3,4
Unnamed: 0,296,76,82,268,269
AccountId,32353546,32353530,32353542,32353522,32353524
Amount,"{""Amount"": ""139.9"", ""Currency"": ""GBP""}","{""Amount"": ""388.5"", ""Currency"": ""GBP""}","{""Amount"": ""50.4"", ""Currency"": ""GBP""}","{""Amount"": ""404"", ""Currency"": ""GBP""}","{""Amount"": ""45"", ""Currency"": ""GBP""}"
BankTransactionCode,"{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }","{""Code"": ""CHP"","" SubCode"": }"
BookingDateTime,2016-11-29T20:21:50-08:00,2016-12-05T20:21:50-08:00,2016-12-06T20:21:50-08:00,2017-01-11T20:21:50-08:00,2017-01-24T20:21:50-08:00
CreditDebitIndicator,Credit,Credit,Credit,Credit,Credit
Status,Booked,Booked,Booked,Booked,Booked
TransactionId,100223,100315,100321,100401,100402
TransactionInformation,"/RFB/GMCI STATMT , PCM55CI72578736 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI72684987 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI72706905 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI73243020 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI73446179 , HENNER GMC"
ValueDateTime,2016-11-29T20:21:50-08:00,2016-12-05T20:21:50-08:00,2016-12-06T20:21:50-08:00,2017-01-11T20:21:50-08:00,2017-01-24T20:21:50-08:00
category,Services,Services,Services,Services,Services
Detailed Category,Health,Health,Health,Health,Health
AmountInGBP,139.9,388.5,50.4,404,45
Type,CHP,CHP,CHP,CHP,CHP
AmountInGBP_bin,low,low,low,low,low
Merchant,"/RFB/GMCI STATMT , PCM55CI72578736 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI72684987 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI72706905 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI73243020 , HENNER GMC","/RFB/GMCI STATMT , PCM55CI73446179 , HENNER GMC"
cleanedMerchant,RFB GMCI STATMT PCM CI HENNER GMC,RFB GMCI STATMT PCM CI HENNER GMC,RFB GMCI STATMT PCM CI HENNER GMC,RFB GMCI STATMT PCM CI HENNER GMC,RFB GMCI STATMT PCM CI HENNER GMC
ConcatCategory,"Services, Health","Services, Health","Services, Health","Services, Health","Services, Health"
Predictorcolumn,Credit RFB GMCI STATMT PCM CI HENNER GMC CHP low,Credit RFB GMCI STATMT PCM CI HENNER GMC CHP low,Credit RFB GMCI STATMT PCM CI HENNER GMC CHP low,Credit RFB GMCI STATMT PCM CI HENNER GMC CHP low,Credit RFB GMCI STATMT PCM CI HENNER GMC CHP low

In [11]:
vectorizer = TfidfVectorizer(use_idf=True, stop_words='english', ngram_range=(1, 2), min_df=1)

In [17]:
vectors = vectorizer.fit_transform(TransactionDf['Predictorcolumn'])

AttributeError: 'DataFrame' object has no attribute 'rdd'

In [13]:
help(vectorizer)

Help on TfidfVectorizer in module sklearn.feature_extraction.text object:

class TfidfVectorizer(CountVectorizer)
 |  Convert a collection of raw documents to a matrix of TF-IDF features.
 |
 |  Equivalent to CountVectorizer followed by TfidfTransformer.
 |
 |  Read more in the :ref:`User Guide <text_feature_extraction>`.
 |
 |  Parameters
 |  ----------
 |  input : string {'filename', 'file', 'content'}
 |      If 'filename', the sequence passed as an argument to fit is
 |      expected to be a list of filenames that need reading to fetch
 |      the raw content to analyze.
 |
 |      If 'file', the sequence items must have a 'read' method (file-like
 |      object) that is called to fetch the bytes in memory.
 |
 |      Otherwise the input is expected to be the sequence strings or
 |      bytes items are expected to be analyzed directly.
 |
 |  encoding : string, 'utf-8' by default.
 |      If bytes or files are given to analyze, this encoding is used to
 |      decode.
 |
 |  decode_error : {'strict', 'ignore', 'replace'}
 |      Instruction on what to do if a byte sequence is given to analyze that
 |      contains characters not of the given `encoding`. By default, it is
 |      'strict', meaning that a UnicodeDecodeError will be raised. Other
 |      values are 'ignore' and 'replace'.
 |
 |  strip_accents : {'ascii', 'unicode', None}
 |      Remove accents during the preprocessing step.
 |      'ascii' is a fast method that only works on characters that have
 |      an direct ASCII mapping.
 |      'unicode' is a slightly slower method that works on any characters.
 |      None (default) does nothing.
 |
 |  analyzer : string, {'word', 'char'} or callable
 |      Whether the feature should be made of word or character n-grams.
 |
 |      If a callable is passed it is used to extract the sequence of features
 |      out of the raw, unprocessed input.
 |
 |  preprocessor : callable or None (default)
 |      Override the preprocessing (string transformation) stage while
 |      preserving the tokenizing and n-grams generation steps.
 |
 |  tokenizer : callable or None (default)
 |      Override the string tokenization step while preserving the
 |      preprocessing and n-grams generation steps.
 |      Only applies if ``analyzer == 'word'``.
 |
 |  ngram_range : tuple (min_n, max_n)
 |      The lower and upper boundary of the range of n-values for different
 |      n-grams to be extracted. All values of n such that min_n <= n <= max_n
 |      will be used.
 |
 |  stop_words : string {'english'}, list, or None (default)
 |      If a string, it is passed to _check_stop_list and the appropriate stop
 |      list is returned. 'english' is currently the only supported string
 |      value.
 |
 |      If a list, that list is assumed to contain stop words, all of which
 |      will be removed from the resulting tokens.
 |      Only applies if ``analyzer == 'word'``.
 |
 |      If None, no stop words will be used. max_df can be set to a value
 |      in the range [0.7, 1.0) to automatically detect and filter stop
 |      words based on intra corpus document frequency of terms.
 |
 |  lowercase : boolean, default True
 |      Convert all characters to lowercase before tokenizing.
 |
 |  token_pattern : string
 |      Regular expression denoting what constitutes a "token", only used
 |      if ``analyzer == 'word'``. The default regexp selects tokens of 2
 |      or more alphanumeric characters (punctuation is completely ignored
 |      and always treated as a token separator).
 |
 |  max_df : float in range [0.0, 1.0] or int, default=1.0
 |      When building the vocabulary ignore terms that have a document
 |      frequency strictly higher than the given threshold (corpus-specific
 |      stop words).
 |      If float, the parameter represents a proportion of documents, integer
 |      absolute counts.
 |      This parameter is ignored if vocabulary is not None.
 |
 |  min_df : float in range [0.0, 1.0] or int, default=1
 |      When building the vocabulary ignore terms that have a document
 |      frequency strictly lower than the given threshold. This value is also
 |      called cut-off in the literature.
 |      If float, the parameter represents a proportion of documents, integer
 |      absolute counts.
 |      This parameter is ignored if vocabulary is not None.
 |
 |  max_features : int or None, default=None
 |      If not None, build a vocabulary that only consider the top
 |      max_features ordered by term frequency across the corpus.
 |
 |      This parameter is ignored if vocabulary is not None.
 |
 |  vocabulary : Mapping or iterable, optional
 |      Either a Mapping (e.g., a dict) where keys are terms and values are
 |      indices in the feature matrix, or an iterable over terms. If not
 |      given, a vocabulary is determined from the input documents.
 |
 |  binary : boolean, default=False
 |      If True, all non-zero term counts are set to 1. This does not mean
 |      outputs will have only 0/1 values, only that the tf term in tf-idf
 |      is binary. (Set idf and normalization to False to get 0/1 outputs.)
 |
 |  dtype : type, optional
 |      Type of the matrix returned by fit_transform() or transform().
 |
 |  norm : 'l1', 'l2' or None, optional
 |      Norm used to normalize term vectors. None for no normalization.
 |
 |  use_idf : boolean, default=True
 |      Enable inverse-document-frequency reweighting.
 |
 |  smooth_idf : boolean, default=True
 |      Smooth idf weights by adding one to document frequencies, as if an
 |      extra document was seen containing every term in the collection
 |      exactly once. Prevents zero divisions.
 |
 |  sublinear_tf : boolean, default=False
 |      Apply sublinear tf scaling, i.e. replace tf with 1 + log(tf).
 |
 |  Attributes
 |  ----------
 |  vocabulary_ : dict
 |      A mapping of terms to feature indices.
 |
 |  idf_ : array, shape = [n_features], or None
 |      The learned idf vector (global term weights)
 |      when ``use_idf`` is set to True, None otherwise.
 |
 |  stop_words_ : set
 |      Terms that were ignored because they either:
 |
 |        - occurred in too many documents (`max_df`)
 |        - occurred in too few documents (`min_df`)
 |        - were cut off by feature selection (`max_features`).
 |
 |      This is only available if no vocabulary was given.
 |
 |  See also
 |  --------
 |  CountVectorizer
 |      Tokenize the documents and count the occurrences of token and return
 |      them as a sparse matrix
 |
 |  TfidfTransformer
 |      Apply Term Frequency Inverse Document Frequency normalization to a
 |      sparse matrix of occurrence counts.
 |
 |  Notes
 |  -----
 |  The ``stop_words_`` attribute can get large and increase the model size
 |  when pickling. This attribute is provided only for introspection and can
 |  be safely removed using delattr or set to None before pickling.
 |
 |  Method resolution order:
 |      TfidfVectorizer
 |      CountVectorizer
 |      sklearn.base.BaseEstimator
 |      VectorizerMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, input='content', encoding='utf-8', decode_error='strict', strip_accents=None, lowercase=True, preprocessor=None, tokenizer=None, analyzer='word', stop_words=None, token_pattern='(?u)\\b\\w\\w+\\b', ngram_range=(1, 1), max_df=1.0, min_df=1, max_features=None, vocabulary=None, binary=False, dtype=<class 'numpy.int64'>, norm='l2', use_idf=True, smooth_idf=True, sublinear_tf=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, raw_documents, y=None)
 |      Learn vocabulary and idf from training set.
 |
 |      Parameters
 |      ----------
 |      raw_documents : iterable
 |          an iterable which yields either str, unicode or file objects
 |
 |      Returns
 |      -------
 |      self : TfidfVectorizer
 |
 |  fit_transform(self, raw_documents, y=None)
 |      Learn vocabulary and idf, return term-document matrix.
 |
 |      This is equivalent to fit followed by transform, but more efficiently
 |      implemented.
 |
 |      Parameters
 |      ----------
 |      raw_documents : iterable
 |          an iterable which yields either str, unicode or file objects
 |
 |      Returns
 |      -------
 |      X : sparse matrix, [n_samples, n_features]
 |          Tf-idf-weighted document-term matrix.
 |
 |  transform(self, raw_documents, copy=True)
 |      Transform documents to document-term matrix.
 |
 |      Uses the vocabulary and document frequencies (df) learned by fit (or
 |      fit_transform).
 |
 |      Parameters
 |      ----------
 |      raw_documents : iterable
 |          an iterable which yields either str, unicode or file objects
 |
 |      copy : boolean, default True
 |          Whether to copy X and operate on the copy or perform in-place
 |          operations.
 |
 |      Returns
 |      -------
 |      X : sparse matrix, [n_samples, n_features]
 |          Tf-idf-weighted document-term matrix.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  idf_
 |
 |  norm
 |
 |  smooth_idf
 |
 |  sublinear_tf
 |
 |  use_idf
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from CountVectorizer:
 |
 |  get_feature_names(self)
 |      Array mapping from feature integer indices to feature name
 |
 |  inverse_transform(self, X)
 |      Return terms per document with nonzero entries in X.
 |
 |      Parameters
 |      ----------
 |      X : {array, sparse matrix}, shape = [n_samples, n_features]
 |
 |      Returns
 |      -------
 |      X_inv : list of arrays, len = n_samples
 |          List of arrays of terms.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from VectorizerMixin:
 |
 |  build_analyzer(self)
 |      Return a callable that handles preprocessing and tokenization
 |
 |  build_preprocessor(self)
 |      Return a function to preprocess the text before tokenization
 |
 |  build_tokenizer(self)
 |      Return a function that splits a string into a sequence of tokens
 |
 |  decode(self, doc)
 |      Decode the input into a string of unicode symbols
 |
 |      The decoding strategy depends on the vectorizer parameters.
 |
 |  get_stop_words(self)
 |      Build or fetch the effective stop words list

In [15]:
vectors.show()

AttributeError: show not found

In [ ]:
#with open('../../target/model/vectorizer.pkl', 'wb') as fin:

# open a file, where you ant to store the data
file = open('vectorizer.pkl', 'wb')
pickle.dump(vectorizer,file)

In [ ]:
# clf = RandomForestClassifier(n_estimators=50, max_depth=None,min_samples_split=2, random_state=0)
# scores = cross_val_score(clf, vectors, TransactionDf['ConcatCategory'], cv=3)
# np.mean(scores)

# Training on complete data
RandomForest_model = RandomForestClassifier(n_estimators=50, max_depth=None, min_samples_split=2, random_state=0)
RandomForest_model.fit(vectors, TransactionDf['ConcatCategory'])

In [ ]:

# Dump the trained decision tree classifier with Pickle
RandomForest_pkl_filename = 'RandomForest_classifier.pkl'
# Open the file to save as pkl file
RandomForest_model_pkl = open(RandomForest_pkl_filename, 'wb')
pickle.dump(RandomForest_model, RandomForest_model_pkl)
# Close the pickle instances
RandomForest_model_pkl.close()